
@{
    ViewBag.Title = "General Error";
}
<br/>
<br/>
<h2>System Error</h2>
<p>An error has occurred in the Teacher Impact Report system.  The error has been recorded.  Please try your operation again and report it if the issue continues.</p>
