
@{
    ViewBag.Title = "Password Reset Complete";
}

<div style="margin-top:10px">
    <div class="row">
        <div class="col-md-12">
            <h2>Password Reset Complete</h2>
        </div>
    </div>
</div>

<p>You have successfully reset your password.</p>
<div style="margin:10px 0 10px 0;">Please click @Html.ActionLink("here", "Login", "Account") to login</div>


