
@{
    ViewBag.Title = "Password Reset - Step Two";
}
<div style="margin-top:10px">
    <div class="row">
        <div class="col-md-12">
            <h2>Password Reset - Step Two</h2>
        </div>
    </div>
</div>

<p>You will shortly recieve an email with instructions for the remaining reset steps.</p>

