
@{
    ViewBag.Title = "FeatureRequest";
}
<div style="margin-top:10px">
    <div class="row">
        <div class="col-md-12">
            <h2>Feature Request</h2>
        </div>
    </div>
</div>

<p>Your feedback is very important to the future of the Teacher Impact Report system!  If there are new features and functionality you would like to see in upcoming releases, please let us know by emailing your suggestions to <a href="mailto:support@teacherimpactreports.com">support@teacherimpactreports.com</a>.  Below is a partial list of planned near term and long term development items.  Even if you see your suggested feature(s) on one of these lists, please email us your support for this item so we can prioritize it on the delivery schedule.  We also strive to continually improve existing functionality, so please send us any suggestions on improving features already included in Teacher Impact Reports.  We appreciate any and all feedback.</p>
Partial list of upcoming new features (near term):<br />
<ul>
    <li>TIR, Assessment TIR, and student history all have a print view / save to PDF option.</li> 
    <li>Export Assessment TIR to Excel.</li> 
    <li>Assessment weighting is viewable by district administrators</li> 
    <li>Assessment weighting is editable by district data administrator(s).</li> 
    <li>Assessment weighting is variable by grade</li> 
    <li>Change assessment score projection from linear to logistic regression analysis to improve projection accuracy for scores on the edges of the bell curve</li> 
    <li>Ability of districts to upload their own MAP scores.</li> 
    <li>Ability of districts to upload their own ISAT scores.</li> 
    <li>Student district assessment percentile notes  when the sample size is below n scores</li> 
    <li>Student details page includes link to classes</li> 
    <li>Teacher details page include link to classes</li> 
    <li>Automatic error logging and emails to technical support</li> 
</ul>
Partial list of upcoming new features (longer term; may be reprioritized depending on demand):
<ul>
    <li>Ability to remove individual students from assessment TIR and summary TIR</li>
    <li>Ability to filter out groups of students (i.e. LI, ELL) from assessment TIR and summary TIR</li>
    <li>Ability of districts to create a new (local) assessment.</li>
    <li>Ability of districts to upload local assessment scores using a standardized Excel template</li>
    <li>Ability to define custom student attributes (i.e. summer school, band)</li>
    <li>Ability to run assessment TIR and summary TIR filtering on custom student attributes</li>
    <li>Student assessment scores from a previous district are noted on the assessment TIR and student history report</li>
</ul>