
@{
    ViewBag.Title = "TechnicalSupport";
}
<div style="margin-top:10px">
    <div class="row">
        <div class="col-md-12">
            <h2>Technical Support</h2>
        </div>
    </div>
</div>

<p>If you encounter any issues, or simply have questions regarding the Teacher Impact Reports product, please contact us at:</p>
<table>
    <tr>
        <td>Email:</td><td><a href="mailto:support@teacherimpactreports.com">support@teacherimpactreports.com</a></td>
    </tr>
    <tr>
        <td>Phone:</td><td>(888) 222-8510 X2</td>
    </tr>
</table>
<p>
    In order to help us resolve any bugs or other issues you may encounter during your testing and use of the system, please provide us as much of the following details as you are able:
</p>
<ul>
    <li>Device and browser you are using (including the version)</li>
    <li>The username you are logged in with</li>
    <li>The page you were on and the actions you were attempting</li>
    <li>What previous actions you took leading to this page</li>
</ul>
<p>The more details you can provide, the easier it will be for us to track down the issue and resolve it.
</p>
<p>Thanks!</p>

