
@{
    ViewBag.Title = "Knowledge Base";
}
<div style="margin-top:10px">
    <div class="row">
        <div class="col-md-12">
            <h2>Knowledge Base</h2>
        </div>
    </div>
</div>

<h3>Roles</h3>
<p>All users in the Teacher Impact Reports system are assigned one of three user roles: Teachers, Administrators, or Data Administrators.</p>
Teachers
<p>Teachers can view their personal Teacher Impact Reports, and see their student's assessment histories.</p>
Administrators
<p>Administrators are assigned permissions on a school-by-school basis. Administrators can view the details and reports of all Teachers and Students in the schools they have permissions for.</p>
Data Administrators
<p>Data Administrators can not only view the details and reports of all Teachers and Students in the schools they have permissions for, but can also add and edit student, teachers, administrators, and class data.</p>
<h3>Classes</h3>
<p>Classes can be created and edited by a Data Administrator.  A class is comprised of students and one or more teachers, a grade level, a subject, a school, and a school year. The class construct is what ties a teacher (and their related impact reports) to their student's assessment scores.  Any students assigned to a teacher's class will show up in that teacher's Impact Report.  In the future we will be looking at ways to streamline class creation, including spreadsheet upload.</p>
